---
import { getCollection } from 'astro:content';
import BlogRoll from '../../components/blog/BlogRoll.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getBlogPath } from '../../utils/params.ts';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag));
        return filteredPosts.length > 0 ? {
            params: { tag },
            props: { posts: filteredPosts },
        } : {params: { tag: 'none'}, props: {posts: []}};  // TODO: janky
    });
}

const { tag } = Astro.params;
const { posts: posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
    <p>Blog posts tagged with <code>{tag}</code></p>
    <ul>
        {posts.map((post) => <BlogRoll url={getBlogPath(post)} title={post.data.title} pubDate={post.data.pubDate}/>)}
    </ul>
</BaseLayout>
