---
const { platform, username } = Astro.props;

const platforms = {
  github: {
    icon: 'tabler:brand-github',
    url: `https://github.com/${username}`
  },
  bluesky: {
    icon: 'tabler:brand-bluesky',
    url: `https://${username}.bsky.social`
  },
  rss: {
    icon: 'tabler:rss',
    url: '/rss.xml'
  }
};

const { icon, url } = platforms[platform.toLowerCase() as keyof typeof platforms];
---

<script>
  import 'iconify-icon';
</script>

<a href={url} target='_blank' rel='nofollow noopener noreferrer'>
 <iconify-icon icon={icon} width=16 class="social-icon"></iconify-icon>
 {platform.toLowerCase()}
</a>

<style>
  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
  }

  .social-icon {
    color: var(--accent-color);
  }
</style>
